.wrapper {
  padding: 30px;
}

.text-center {
  text-align: center;
}

.text-gray-600 {
  color: var(--gray-600);
}

.text-gray-500 {
  color: var(--gray-500);
}

.capitalize {
  text-transform: capitalize;
}