//Source: https://getbootstrap.com/docs/5.0/layout/breakpoints/#available-breakpoints

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .wrapper-search,
  .wrapper-list {
    margin: 0 auto;
    padding: 0 0;
    width: 570px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }