// Inpiración: Los nombres de las variables fueron inspirados por tailwind.
// https://tailwindcss.com/docs/customizing-colors

:root {
  --font-family: 'Lato', sans-serif;

  --yellow-100: #ECA539;
  --red-200: #C00E20;
  --red-100: #F22539;
  --gray-600: #353535;
  --gray-500: #5E5E5E;
  --gray-400: #BFBFBF;
  --gray-300: #E8E8E8;
  --gray-200: #F5F5F5;
  --gray-100: #F9F9F9;
  --white: #ffffff;

  --animate-duration: 1s;
}
